<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxs.control">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".V4Activity"></activity>
        <activity android:name=".v4.SpaceActivity"></activity>
        <activity android:name=".v4.SwipeRefreshLayoutActivity"></activity>

        <activity android:name=".V7Activity"></activity>
        <activity android:name=".v7.GridLayoutActivity"></activity>
        <activity android:name=".v7.SwitchCompatActivity"></activity>
        <activity android:name=".v7.PopupMenuActivity"></activity>
        <activity android:name=".v7.CardViewActivity"></activity>
        <activity
            android:name=".v7.ToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".v7.RecyclerViewActivity"></activity>

        <activity android:name=".ViewActivity"></activity>
        <activity android:name=".view.TextureViewActivity"></activity>
        <activity android:name=".view.RippleDrawableActivity"></activity>

        <activity android:name=".utils.PaletteActivity"></activity>

        <activity android:name=".DesignActivity"></activity>
        <activity android:name=".design.FloatingActionButtonActivity"></activity>
        <activity android:name=".design.SnackbarActivity"></activity>
        <activity android:name=".design.TextInputLayoutActivity"></activity>
        <activity android:name=".design.TabLayoutActivity"></activity>
        <activity android:name=".design.NavigationViewActiivity"></activity>
        <activity android:name=".design.AppBarLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".design.CollapsingToolbarLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
    </application>

</manifest>